body{
    margin:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.avatar{
    width: 150px;
}

 .card{
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background-color: #FFE1E1;
    color: black;
    border: 2px solid #FFE1E1;
    border-radius: 16px;
    border-bottom: 6px solid #557153;
    }
    h3:hover{
        background-color: #E14D2A;
        cursor: pointer;
    }
    p,h4{
        cursor: pointer;
    }
 